body {
  font-family: sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
  background: linear-gradient(to left, #e96443 , #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding-left: 4px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eee;
  font-size: 16px;
  padding-left: 4px;
}

.answer {
  background: rgba(0, 0, 0, 0.3);
  width: 33%;
  margin-left: 34%;
  border-radius: 5px;
  padding: 10px 10px 25px 10px;
  margin-top: 10em;
}
